<section id="homepage-hero">
    <div class="row">
      <div id="hero-text" class="small-12 medium-6 columns end right">
        <h3>"Holy shit I don't know how to feel about this. On one hand the bot is totally right. On the other hand, well, it's just kind of a dick."</h3>
        <h4 class="text-right">-/u/Darkurai</h4>
      </div>
    </div>
</section>

<section id="about">
  <div class="row text-center">
    <div class="small-12 centered-text">
      <h3>Grammar Correcting Reddit Bot</h3>
      <p>The bot that fixes "your", "you're", and "you are" usage on Reddit.</p>
    </div>
  </div>
</section>
  
<section id="how-it-works">
  <div class="row text-center">
    <div class="small-12 column">
      <h2>How does it all work?</h2>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="small-12 medium-4 column">
      <h4>Four times a day</h4> 
        <p>The bot asks Reddit for all of the comments from the top posts in the top subreddits that the bot is not already banned from (not everyone likes him).</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>"Your" Comments Selected </h4>
      <p>Then the bot selects the comments containing the words "your", "you're", and "you are" and sends them out to a seperate API to check for grammar mistakes.</p> 
    </div>

    <div class="small-12 medium-4 column">
      <h4>Mistakes</h4>
      <p>Once the comments come back from getting checked out the comments with "your" mistakes get commented on every 10 minutes.</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="medium-10 medium-offset-1 columns centered-text">
        <h2>Simple, right?</h2>
    </div>
  </div>
</section>