<section id="homepage-hero">
    <div class="row">
      <div id="hero-text" class="small-12 medium-6 columns end right">
        <h3>"Holy shit I don't know how to feel about this. On one hand the bot is totally right. On the other hand, well, it's just kind of a dick."</h3>
        <h4 class="text-right">-/u/Darkurai</h4>
      </div>
    </div>
</section>

<section id="about">
  <div class="row text-center">
    <div class="small-12 centered-text">
      <h3>Grammar Correcting Reddit Bot</h3>
      <p>The bot that fixes "your", "you're", and "you are" usage on Reddit.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 medium-4 column">
      <h4>About</h4>
      <p>blcibwclhbwechibe</p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>About</h4>
      <p>wnjcne len lejn wel newl jnel </p>
    </div>
    <div class="small-12 medium-4 column">
      <h4>About</h4>
      <p>jwne jen  elj newlj nelj nelwjn wlnwe jnwlej nel</p>
    </div>
  </div>
</section>