#homepage-hero {
  background: image-url("hero.jpg");
  background-size: cover;
  height: 560px;
  text-align: left;
  position: relative;
  padding: 100px 20px 0 20px;
}

#hero-text {
  margin-top: 30px;
  background-color: rgba(0,0,0,0.5);
}


#hero-text h3 {
  color: #fff;
}

#hero-text h4 {
  color: rgba(13,235,255,0.4)
}

.oleo {
  font-family: 'Oleo Script Swash Caps', 'script';
}

.homemade {
  font-family: 'Homemade Apple', cursive;
}

#about, #how-it-works {
  margin-top: 40px;
}

#how-it-works {
  margin-bottom: 80px;
}

#subreddits, #sub-statistics {
  margin-top: 80px;
}

